<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	    http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd">

    <!-- 引入jdbc配置文件 -->
    <!-- spring启动方式 -->
    <context:property-placeholder location="classpath:systemconfig.properties"/>

    <!-- 数据源 -->
    <bean id="oracleDataSource" class="com.alibaba.druid.pool.DruidDataSource"  >
        <property name="username" value="${oracle_username}" />
        <property name="password" value="${oracle_password}" />
        <property name="url" value="${oracle_url}" />
        <property name="driverClassName" value="${oracle_driverClassName}" />
        <!-- 系统初始化连接数 -->
        <property name="initialSize" value="${oracle_initialSize}" />
        <!-- 最大连接数 -->
        <property name="maxActive" value="${oracle_maxActive}" />
    </bean>



</beans>